<html lang="en"> <!-- the start of our HTML document-->
    <head> <!-- head tags accept things like titles, and scripts and CSS files -->
        <title>My Website | Home</title>
        <link rel="stylesheet" href="styles.css"></link>
    </head>
    <body> <!-- body tags is where most of our components live -->
        <h1 class="home-header">Welcome to my home page!</h1>
        <p style="font-size:20;">This is a paragraph on my home page.</p>
        <a href="about.html">Here is a link to my about page!</a>
        <p>Here are some images with cats</p>
        <br>
        <img src="images/cat.gif" width="200" height="100"></img>
        <img src="https://media.giphy.com/media/MDJ9IbxxvDUQM/200w_d.gif"></img>
    </body> <!-- remember that we close every tag that we open! -->
</html>