<html lang="en">
    <head>
        <title>My Website | Home</title>
    </head>
    <body>
        <h1 style="color:crimson;">Welcome to my home page!</h1>
        <p style="font-size:20;">This is a paragraph on my home page.</p>
        <a href="about.html">Here is a link to my about page!</a>
        <p>Here are some images with cats</p>
        <br>
        <img src="images/cat.gif" width="200" height="100"></img>
        <img src="https://media.giphy.com/media/MDJ9IbxxvDUQM/200w_d.gif"></img>
    </body>
</html>